<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Niagara</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleLocalizations</key>
		<array>
			<string>ru</string>
		</array>
		<key>CFBundleName</key>
		<string>niagara_app</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>yookassapaymentsflutter</string>
					<string>cordova</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>DART_DEFINES</key>
		<string>$(DART_DEFINES)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>yoomoneyauth</string>
			<string>sberpay</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>Доступ к камере необходим для отправки медиа в чате.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Доступ к библиотеке фото необходим для отправки медиа в чате.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Приложение запрашивает доступ к вашей геолокации, чтобы определить ваш город и адрес доставки.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Приложение запрашивает доступ к вашей геолокации, чтобы определить ваш город и адрес доставки.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Доступ к микрофону необходим для удобного голосового ввода текста в поля ввода.</string>
		<key>NSMotionUsageDescription</key>
		<string>Доступ к геопозиции пользователя необходим для отображения текущей геопозиции.</string>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>Доступ к Bluetooth необходим для поиска, подключения и передачи данных между различными устройствами.</string>
		<key>NSPrivacyTracking</key>
		<true/>

		<key>LSMinimumSystemVersion</key>
		<string>12.0</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
	</dict>
</plist>
